# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.npm/
.yarn/
.pnp.*

# Serverless
.serverless/
.env
.env.local
.env.*.local

# Testing
coverage/

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/

# OS specific
.DS_Store
Thumbs.db

# Build
dist/
build/
target/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp files
tmp/
temp/
